body {
  background-color: #f7f3f0;
  padding: 20px 70px;
}
.head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.logo img {
  width: 200px;
}
.mode {
  display: flex;
  background-color: white;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px 0px black;
}
.button {
  background-color: #f7cb42;
  padding: 5px;
  border-radius: 20px;
  margin: 5px;
}
.card {
  padding: 5px;
  margin-top: 5px;
}
.main-left {
  width: 900px;
  background-color: #ffffff;
  border-radius: 20px;
  border: solid black;
}
.head-main {
  display: flex;
  justify-content: space-between;
  border-bottom: solid#cdc6c1;
  padding-left: 20px;
  padding-right: 20px;
}
.categories {
  display: flex;
  gap: 20px;
}
.categories p {
  padding: 10px;
}
.head-main img {
  width: 100px;
  height: 50px;
  padding: 10px;
}
.cat {
  padding: 10px;
  border: solid black;
  border-radius: 20px;
}
.pink {
  background-color: #fb88e3;
  margin: 20px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  border: solid black;
}
.pink button {
  background-color: #ffffff;
  padding: 6px;
  border-radius: 20px;
}
.pink h1 {
  margin-top: 100px;
}
.pink img {
  margin-top: 60px;
  width: 100px;
}
.row-but {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-but img {
  width: 150px;
}
.main-center {
  border-bottom: solid#cdc6c1;
  padding-bottom: 20px;
}
.main-bottom {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.next img,
.but img {
  width: 20px;
}
.but,
.next {
  padding: 5px 5px;
  border: solid black;
  border-radius: 20px;
  width: 100px;
  display: flex;
  gap: 10px;
}
.but p,
.next p {
  width: 30px;
}
.main-right {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: solid black;
  border-radius: 20px;
  width: 400px;
  margin-left: 20px;
}
.container {
  display: flex;
}
.cards {
  display: flex;
  justify-content: space-between;
  width: 400px;
  height: 100px;
  border: solid black;
  margin-top: 20px;
  border-radius: 20px;
}
.icon img {
  width: 50px;
  margin: 25px;
}
.icon1 {
  background-color: #93acec;
  width: 100px;
  border-radius: 0px 20px 20px 0px;
}
.icon2 {
  background-color: #47daca;
  width: 100px;
  border-radius: 0px 20px 20px 0px;
}
.icon3 {
  background-color: #f173a3;
  width: 100px;
  border-radius: 0px 20px 20px 0px;
}
.icon4 {
  background-color: #fd8ae5;
  width: 100px;
  border-radius: 0px 20px 20px 0px;
}
.name {
  padding: 20px;
}
.name p {
  margin: 0;
  margin-bottom: 10px;
}
.name span {
  font-size: 30px;
  font-weight: 900;
}
@media screen and (max-width: 480px) {
  .container {
    flex-direction: column;
  }
  body {
    padding: 0px;
  }
  .mode {
    margin-top: 6px;
  }
  .logo img {
    width: 150px;
  }
  .main-right {
    margin-left: 0;
    margin-top: 20px;
  }
  .main-left {
    width: 440px;
  }
}
